/* farbpalette: https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51
https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 46px; 
    line-height: 46px; 
    position: fixed;
}

.navfooter {
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 46px; 
    line-height: 46px; 
    position: fixed;
    
}
.footerbottom {
    height: 43px; 
    line-height: 43px; 
    width: 100%;
}
.mh{
    max-height: 100%;
}
.vertical-center {
    position: absolute;
    top: 15%;
  }
.bottomRight {
    float:right;
    width: 50%;
}
.loginButton {    
    background-color: #264653; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;  
    width: 100%; 
}
.loginBox {
    max-width: 400px;
    margin: 0 auto;    
}
.loginBox a {
    color: #258af3;
    text-decoration: none;
}
.dash {
    height: 5rem; 
}
.dashbox {
    height: 100%;
}
.iconWidth {
    width: 1.5rem;
}
.fh {
    height: 100% !important;
}
.bgTop{
    background-color: #264653 !important;
}
.bgDash1 {
    background-color: #2a9d8f !important;
}
.bgDash2 {
    background-color: #e9c46a !important;
}
.bgDash3 {
    background-color: #e76f51 !important;
}
.left {
    float: left !important;
}
.right {
    float: right !important;
}
.add {
    font-size: 3rem; 
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;

}
.lift {
    transform: translate(0px, -44px);
}
.smenu {
    color: #f1f1f1 !important;
}
.uicon {
    padding: 8px !important;
}
.clear {
    clear: both;
}
.addForm {
    margin: 5px auto;
    width: 100%;
}
  
input.invalid {
    background-color: #f4a261;
  }

.tab {
    display: none;
}  
.step {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbbbbb;
border: none;
border-radius: 50%;
display: inline-block;
opacity: 0.5;
}  
.step.active {
opacity: 1;
}  
.step.finish {
background-color: #2a9d8f;
} 
.addForm label {
cursor: pointer;
filter: grayscale(100%);
}
.addForm label:hover {
filter: grayscale(0);
}
.addForm input[type="radio"]:checked + label {
filter: grayscale(0);
}
.center {
align-items: center;
}
.img-fluid-half {
max-width: 30%;
height: auto;
}
@media (min-width: 993px) {
.modal-dialog {
    transform: translate(150px, 0px)
    }
}
@media (max-width: 992px) {
    .modal-dialog {
        animation: animatezoom 0.3s;
        }    
}
.paddingBottom {
    margin-bottom: 46px;
}